<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/veenana/Music/New folder (2)/Capstone_BankAccountCreation/TestNG">
        <parameter name="url" value="https://reqres.in/api/users"></parameter>
        <classes>
            <class name="AadharValidation.AadharCardValidation" />
        </classes>
    </test>
</suite>